.poetrypage{
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(250, 214, 168, 0.2);
}

.firstpoetrypost, 
.secondpoetrypost, 
.thirdpoetrypost,
.fourthpoetrypost, 
.fifthpoetrypost{
    width: 60%;
    line-height: 1.5em;
    border-radius: 0 3em 0 0;
    box-shadow: 0.2em 0em .7em 1px rgb(198, 194, 194);
    padding: 2em;
    margin-bottom: 35em;
}

.firstpoetrypost h2, 
.secondpoetrypost h2, 
.thirdpoetrypost h2, 
.fourthpoetrypost h2, 
.fifthpoetrypost h2{
    padding: 1em 0;
}

.timestamp{
    margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
    .firstpoetrypost,
    .secondpoetrypost,
     .thirdpoetrypost, 
     .fourthpoetrypost, 
     .fifthpoetrypost{
        width: 100%;
        box-shadow: none;
    }
    .lifescribing, .category-indicator{
        display: none;
    }
}