
.header {
    height: 8em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0.2em 0.3em rgba(207, 194, 194, 0.3);
}
.pathname{
    text-decoration: underline;
}

.nav-contents {
    width: 100%;
    max-width: 40em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-top: -1em;
}

.subheader{
    width: 100%;
    max-width: 8em;
    min-height: 10em;
    display: none;
    text-transform: capitalize;
    background-color: rgb(253, 248, 255); 
    transition: 2s ease-out;
}

.subheader .lifestyle,
.subheader .memoir,
.subheader .poetry,
.subheader .excerpts{
    padding: 0.4em;
}
.subheader .lifestyle:hover,
.subheader .memoir:hover,
.subheader .poetry:hover,
.subheader .excerpts:hover{
    color: gray;
    background-color: antiquewhite;
}

.category-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.category-container:hover .subheader{
    display: block;
    position: absolute;
    top: 1.5em;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding: 0.6em;
    transition: 0.5s ease-in-out;
}
.category-container:hover .subheader .lifestyle, .subheader .memoir, .subheader .excerpts, .subheader .poetry{
    margin-top: 1em;
    border-bottom: 1px dotted;
}

.sign-up-container {
    margin-left: 2em;
}
.welcome{
    animation: scale 3s linear infinite;
    font-family: 'Dancing Script', cursive;
    color: #992600;
    font-size: 1.3em;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.015);
    }
    50%{
        transform: scale(1.025);
    }
    75%{
        transform: scale(1.035);
    }
    100%{
        transform: scale(1);
    }
}

.home,
.about,
.books,
.category,
.sign-up {
    width: 100%;
    text-transform: uppercase;

}


.home-container:hover .home,
.category-container:hover .category,
.about-container:hover .about,
.book-container:hover .books,
.sign-up-container:hover .sign-up
 {
    transition: 0.5s ease-out;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(45, 44, 44);
}

.logo {
    width: 9em;
    height: 9em;
    
}
.logo img{
    width: 100%;
    height: 100%;
}

.toggle {
    display: none;
}

.social-icons {
    margin-top: -1em;
    width: 100%;
    max-width: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    
}

.socials {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.sub-con {
    width: 100%;
    height: 5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 5.1em;
    transform: translateY(-120%);
    transition: 0.5s ease-in-out;
    z-index: -4;
}

.showsub {
    transform: translateY(0);
}

@media screen and (max-width: 1100px) {
    .logo {
        width: 6em;
    }
}

@media screen and (max-width: 700px) {
    .header {
        z-index: 10;
        height: 6em;
    }
    .logo{
        width: 6em;
        height: 6em;
    }
    .welcome{
        color: #fff;
    }

    .social-icons {
        display: none;
    }

    .toggle {
        display: flex;
        align-items: center;
        order: 3;
        margin-right: 1.5em;
    }

    .bars,
    .times {
        font-size: 2em;
    }

    .nav-contents {
        height: calc(100vh - 6.9em);
        position: absolute;
        z-index: 10;
        top: 7.5em;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #992600;
    }

    .sign-up-container{
        margin: 0;
    }

    .category-container:hover .subheader{
        display: none;
    }
    
    .category-container .down-icon{
        display: none;
    }

    .home-container,
    .about-container,
    .book-container,
    .category-container,
    .sign-up-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .home,
    .about,
    .books,
    .category,
    .sign-up {
        width: 100%;
        padding: 1em;
        color: #fff;
        text-align: center;
    }

    .home-container:hover .home,
    .category-container:hover .category,
    .about-container:hover .about,
    .book-container:hover .books,
    .sign-up-container:hover .sign-up{
        color: #fff;
        text-decoration: none;
        opacity: 1;
    }

    .home-container:hover,
    .book-container:hover,
    .about-container:hover,
    .category-container:hover,
    .sign-up-container:hover {
        width: 100%;
        max-width: 100%;
        padding: 0 10em;
        background-color: rgba(207, 194, 194, 0.3);
        
        cursor: pointer;
    }

    .show {
        transform: translateY(-150%);
        transition: all 1s ease-in-out;

    }

    .hidee {
        transform: translateY(0);
        transition: all 1s ease-in-out;

    }
    .pathname{
        text-decoration: none;
    }
}