.excerptpage{
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(250, 214, 168, 0.2);
}

.firstexcerptpost, 
.secondexcerptpost, 
.thirdexcerptpost{
    width: 60%;
    line-height: 1.5em;
    border-radius: 0 3em 0 0;
    box-shadow: 0.2em 0em .7em 1px rgb(198, 194, 194);
    padding: 2em;
    margin-bottom: 35em;
}

.firstexcerptpost h2, .secondexcerptpost h2, .thirdexcerptpost h2{
    text-align: center;
    padding: 0.5em;
}
.firstpoetrypost h2{
    padding: 1em 0;
}

.img-container .scream{
    width: 100%;
    height: 100%;
} 

@media screen and (max-width: 700px) {
    .firstexcerptpost,
    .secondexcerptpost,
    .thirdexcerptpost{
        width: 100%;
        box-shadow: none;
    }
    .lifescribing, .category-indicator{
        display: none;
    }
    .scream{
        
    }
}