.memoirpage{
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(250, 214, 168, 0.2);
}
.category-indicator-m{
    position: sticky;
    left: 1em;
    top: 10em;
    font-family: 'Charmonman', cursive;
    font-size: 1.5em;
    align-self: flex-start;
    color: #992600;
}

.firstmemoirpost, 
.secondmemoirpost, 
.thirdmemoirpost{
    width: 60%;
    line-height: 1.5em;
    border-radius: 0 3em 0 0;
    box-shadow: 0.2em 0em .7em 1px rgb(198, 194, 194);
    padding: 2em;
    margin-bottom: 35em;
}

.firstmemoirpost h2, .secondmemoirpost h2, .thirdmemoirpost h2{
    text-align: center;
    padding: 0.5em;
}
.firstmemoirpost h2{
    padding: 1em 0;
}



@media screen and (max-width: 700px) {
    .firstmemoirpost,
    .secondmemoirpost,
    .thirdmemoirpost{
        width: 100%;
        box-shadow: none;
    }
    .lifescribing, .category-indicator-m{
        display: none;
    }
}