* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    background-color: rgba(253, 188, 102, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

